HotelReservationServicesSOAP/src/java/ws/HotelReservation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HotelReservationServices" targetNamespace="http://HotelReservationServices"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://HotelReservationServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://niceview.group8.ws.dtu">
            <xsd:import namespace="http://types.niceview.group8.ws.dtu" schemaLocation="types/NiceViewSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="getHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="arrival" type="xsd:dateTime"/>
        <part name="departure" type="xsd:dateTime"/>
    </message>
    <message name="getHotelsResponse">
        <part name="hotels" type="tns:HotelsType"/>
    </message>
    <message name="bookHotelRequest">
        <part name="bookingNumber" type="xsd:int"/>
        <part name="creditCard" type="tns:CreditCardType"/>
    </message>
    <message name="bookHotelResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="bookHotelFault">
        <part name="fault" element="tns:bookHotelFaultElement"/>
    </message>
    <message name="cancelHotelRequest">
        <part name="bookingNumber" type="xsd:int"/>
    </message>
    <message name="cancelHotelResponse">
        <part name="status" type="xsd:boolean"/>
    </message>
    <message name="cancelHotelFault">
        <part name="fault" element="tns:cancelHotelFaultElement"/>
    </message>
    <portType name="HotelReservationServices">
        <operation name="getHotels">
            <input name="getHotelsInput1" message="tns:getHotelsRequest"/>
            <output name="getHotelsOutput1" message="tns:getHotelsResponse"/>
        </operation>
        <operation name="bookHotel">
            <input name="bookHotelInput1" message="tns:bookHotelRequest"/>
            <output name="bookHotelOutput1" message="tns:bookHotelResponse"/>
            <fault name="bookHotelFault1" message="tns:bookHotelFault"/>
        </operation>
        <operation name="cancelHotel">
            <input name="cancelHotelInput1" message="tns:cancelHotelRequest"/>
            <output name="cancelHotelOutput1" message="tns:cancelHotelResponse"/>
            <fault name="cancelHotelFault1" message="tns:cancelHotelFault"/>
        </operation>
    </portType>
    <binding name="HotelReservationServicesBinding" type="tns:HotelReservationServices">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getHotels">
            <soap:operation/>
            <input name="getHotelsInput1">
                <soap:body use="literal" namespace="http://ws"/>
            </input>
            <output name="getHotelsOutput1">
                <soap:body use="literal" namespace="http://ws"/>
            </output>
        </operation>
        <operation name="bookHotel">
            <soap:operation/>
            <input name="bookHotelInput1">
                <soap:body use="literal" namespace="http://ws"/>
            </input>
            <output name="bookHotelOutput1">
                <soap:body use="literal" namespace="http://ws"/>
            </output>
            <fault name="bookHotelFault1">
                <soap:fault name="bookHotelFault1" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelHotel">
            <soap:operation/>
            <input name="cancelHotelInput1">
                <soap:body use="literal" namespace="http://ws"/>
            </input>
            <output name="cancelHotelOutput1">
                <soap:body use="literal" namespace="http://ws"/>
            </output>
            <fault name="cancelHotelFault1">
                <soap:fault name="cancelHotelFault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="HotelReservationService">
        <port name="HotelReservationServicesBindingPort" binding="tns:HotelReservationServicesBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
</definitions>